
h1 {
    text-align: center;
    display: block;

}

p {
    color: blue;
    font-family: 'Bangers', cursive;

}

span {
    text-align: center;
    position: relative;
    left: 100px;

}

.quotes {
    font-family: 'Khand', sans-serif;

}


input {
    position: relative;
}
img {
    float: right;
    rgb: 255, 255, 255;
}
