
h1 {
    text-align: center;
    display: block;
    font-family: 'Bangers', cursive;
    
}
p {
    color: blue;
    font-family: 'Bangers', cursive;
}
span {
    
    
}
.quotes {
    float: right;
    
}

fonts {
    font-family: 'Bangers', cursive;
}

fonts2 {
    font-family: 'Khand', sans-serif;
}